body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

div{
  padding: 20px;
}
.message--danger{
    color: darkred;
    font-weight: bold;
}

input{
    margin: 1px auto;
    padding: 5px;
}